<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Filter used to preprocess-->
    <filter>
        <filter-name>JspFilter</filter-name>
        <filter-class>Filters.JSPFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>JspFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <!-- Used to remap the .jsp files to look like .html files -->
    <servlet>
        <servlet-name>template</servlet-name>
        <servlet-class>example.template</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupCommunicator</servlet-name>
        <servlet-class>communicator.SignupCommunicator</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>template</servlet-name>
        <url-pattern>/template</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signin</servlet-name>
        <jsp-file>signin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signin</servlet-name>
        <url-pattern>/Signin.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <jsp-file>signup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminDash</servlet-name>
        <jsp-file>admin_dash.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminDash</servlet-name>
        <url-pattern>/AdminDash.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Elements</servlet-name>
        <jsp-file>elements.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Elements</servlet-name>
        <url-pattern>/Elements.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Generic</servlet-name>
        <jsp-file>generic.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Generic</servlet-name>
        <url-pattern>/Generic.html</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserDash</servlet-name>
        <jsp-file>user_dash.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDash</servlet-name>
        <url-pattern>/UserDash.html</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>SignupCommunicator</servlet-name>
        <url-pattern>/SignupProcessor.html</url-pattern>
    </servlet-mapping>
    <session-config>
        
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
